<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Typewritre</title>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='css/style.css' rel='stylesheet'>
  </head>
  <body>
    <article>
      <h1><%= zh_lorem_sentence %></h1>
      <% 2.times do %>
      <p><%= zh_lorem_paragraphs 3 %></p>
      <p><%= zh_lorem_paragraphs 2 %></p>
      <% end %>
    </article>
  </body>
</html>
